@use 'variables' as v;

.content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    padding: .5rem;
    @media (min-width:1000px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
}

.product-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 1000px){
        display: flex;
        flex-direction: column;
        width: 60%;
        gap: 1rem;
    }
}

.product {
    padding: 0 1rem;
    height: 4.5rem;
    width: 95%;
    background-color: v.$whiteish;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    &__description{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        &-details{
            text-decoration: none;
        }
    }
    &__img{
        height: 50px;
        justify-content: center;
        border-radius: 5px;
    }
    &__value{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__close-icon:hover{
        cursor: pointer;
    }
    @media (min-width: 1000px){
        width: 90%;
        height: 4rem;
    }
}

