@use 'variables' as v;

@mixin modal-background{
    background-color: v.$black-modal;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: .5rem;
    height: 100%;
    width: 100%;
    display: none;
}

@mixin radio {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}