@use 'variables' as v;

.navbar {
    display: none;
    &__items{
        display: flex;
        gap: 3rem;
        list-style: none;
    }
    &__link{
        text-decoration: none;
        color: v.$whiteish;
    }
}