@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');


$purpleful: #7209B7;
$whiteish: #DEE2E6;
$purple: #9D4EDD;
$purpleish: #C77DFF;
$light-purple: #E0AAFF;
$black-modal: rgba(0, 0, 0, .5);
$font: 'Kumb Sans', sans-serif;
